#include <iostream>
#include <cstring>
#include <sstream>

using namespace std;
int main ()
{
string length;
double x,y;
char z;

getline( cin, length);
istringstream stream(length);

stream>>x;
while ( stream>>z)
{
   if( z=='+')
   {
       stream>>y;
       x += y;
   }
   if( z=='-')
   {
       stream>>y;
       x -= y;
   }
   if (z=='*')
   {
       stream>>y;
       x *= y;
   }
   if(z=='/')
   {
       if (x==0 && y==0) {cout<<"nan";}
       else if (x!=0 && y==0) {cout<<"inf";}
       else
       stream>>y;
       x /= y;
   }
   
}
cout<<x;
}
